@import '~tailwindcss/dist/base.css';
@import '~tailwindcss/dist/utilities.css';

html,
body,
#__next,
.main {
  max-height: 100vh;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #223 !important;
  color: #fff;
}
.channel-list {
  li a:before {
    content: '# ';
    opacity: 0.5;
  }
  li a:hover {
    opacity: 0.9;
  }
}
.Messages {
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
  background: #223 !important;
}

.bg-gray-900 {
  background: #223 !important;
}

.btn {
  display: block;
  width: 100%;
  border: 0;
  border-radius: 4px;
  background: #fe53e0;
  color: #fff;
  font-size: 18px;
  line-height: inherit;
  height: auto;
  padding: 10px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: 500;
  outline: 0;
  margin-bottom: 10px;
  margin-right: 10px;
}

.text-xs {
  font-size: 18pt;
  font-weight: bold;
  text-align: center;
}

input {
  color: #333 !important;
}

.logo {
  margin-left: -90px;
  font-weight: 400;
  font-size: 24pt;
  border-left: 1px solid #fff;
  padding: 20px;
}